* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.top__title-mob {
  display: none;
}

.top__subtitle-mob {
  display: none;
}

.top {
  position: relative;
  overflow: hidden;
  height: 800px;
  background-color: rgb(225, 255, 143);
  background-image: url(img/star1.jpg), url(img/star2.jpg);
  background-position: 63px 69px, calc(100% - 344px) calc(100% - 149px);
  background-repeat: no-repeat;
}
.top__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 24px;
}
.top__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 769px;
  padding-top: 169px;
}
.top__subtitle {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 769px;
}
.top__btn {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
}

.scrolling {
  height: 90px;
  width: 100%;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgb(188, 236, 48);
  overflow-x: hidden;
}
.scrolling__item {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  margin: 0px 50px;
  display: flex;
  align-items: center;
}

.star-big {
  position: absolute;
  width: 749px;
  top: -80px;
  height: 791px;
  left: 1200px;
}

.star-mob {
  display: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.for {
  background-color: rgb(32, 32, 39);
  background-image: url(img/Starfor.svg), url(img/starformini.jpg);
  background-position: 1340px 100px, 110px 900px;
  background-repeat: no-repeat;
}

.games-link {
  text-decoration: none;
  scroll-behavior: smooth;
}

.for__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 94px;
  padding-bottom: 24px;
}

.for__info {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  width: 788px;
  padding-bottom: 72px;
}

.for__box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.for__wrapper {
  display: flex;
  gap: 32px;
}

.for__card {
  background-color: rgb(255, 255, 255);
  width: 378px;
  border-radius: 30px;
  z-index: 2;
  transition: transform 0.3s ease;
}

.for__img {
  border-radius: 30px;
}

.for__content {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  padding: 32px 36px 32px 32px;
}

.for__title-number {
  border-radius: 52px;
  background: rgb(247, 247, 247);
  width: 107px;
  height: 36px;
  border: none;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
}

.for__game {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  align-items: center;
  gap: 16;
  padding: 0px;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

.for__game-mob {
  display: none;
}

.for__card:hover {
  transform: scale(103%);
  transition-delay: 0.2s;
  transition: 0, 3s;
}

.card {
  background: rgb(32, 32, 39);
  padding-bottom: 144px;
  padding-top: 72px;
}

.card__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  color: rgb(255, 255, 255);
  height: 78px;
}

.card__for {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  width: 1200px;
  height: 500px;
}

.card__img {
  border-radius: 30px;
  height: 500px;
}

.card__game {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}

.card__content {
  padding: 48px;
  display: grid;
  align-content: center;
  grid-gap: 24px;
}

.card__text {
  width: 500px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.card__block {
  display: grid;
  align-content: center;
  grid-gap: 32px;
  padding-top: 72px;
}

.card__btn {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 28px 16px 28px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
}

.card__box {
  display: grid;
  align-content: center;
  grid-gap: 32px;
}

.card__box:nth-child(odd) {
  flex-direction: row;
}

.card__box:nth-child(even) {
  flex-direction: row-reverse;
}

.card-link {
  text-decoration: none;
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
  display: flex;
  justify-content: space-around;
}
.footer__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  gap: 60px;
}

@media (max-width: 425px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: rgb(225, 255, 143);
    background-image: url(img/star1.jpg), url(img/star2.jpg);
    background-position: 4px 58px, calc(100% - 50px) calc(100% - 16px);
    background-repeat: no-repeat;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 343px;
  }
  .top__title {
    display: none;
  }
  .top__subtitle {
    display: none;
  }
  .top__title-mob {
    display: block;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    margin-top: 147px;
  }
  .top__subtitle-mob {
    display: block;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    width: 296px;
  }
  .top__btn {
    text-align: center;
    width: 296px;
    height: 55px;
    gap: 10;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
  }
  .big-gap {
    display: block;
  }
  .for {
    display: none;
  }
  .star-big {
    display: none;
  }
  .star-mob {
    display: block;
    width: 178px;
    position: absolute;
    left: 250px;
    top: -2px;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 48px;
  }
  .card__title {
    display: flex;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    padding-left: 30px;
  }
  .card__box {
    grid-gap: 24px;
  }
  .card__img {
    width: 100%;
    max-width: 343px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card__for {
    display: grid;
    width: 100%;
    height: auto;
    max-width: 343px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .card__btn {
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    width: 100%;
    max-width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    margin-top: 16px;
  }
  .card__game {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }
  .card__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
  }
  .card__content {
    display: flex;
    text-align: center;
    grid-gap: 16px;
    padding: 29px;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: auto;
  }
  .card__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 32px;
  }
  .footer__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  .footer {
    width: 100%;
    height: 100px;
  }
  .scrolling {
    height: 51.34px;
    width: auto;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .scrolling__item {
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    margin: 0px 21px;
    flex-shrink: 0;
  }
}/*# sourceMappingURL=style.css.map */